SpaceFuckery/CEGUI.log
SpaceFuckery/Ogre.log
SpaceFuckery/SpaceFuckery
SpaceFuckery/SpaceFuckery.depend
SpaceFuckery/SpaceFuckery.layout
SpaceFuckery/obj/
SpaceFuckery/ogre.cfg
SpaceFuckery/CppCheckResults.xml
SpaceFuckery/ValgrindOut.xml
SpaceFuckery/doxygen/
SpaceFuckery/gmon.out

